$text-blue: #4d76b7;
$text-grey: #69696b;

$font-1: "Helvetica Neue", Helvetica, Arial, sans-serif;

@mixin btn {
  padding: 10px 30px 10px 30px;
  border: 2px solid $text-blue;
  border-radius: 50px;
  font-size: large;
  width: 150px;
  &:hover {
    cursor: pointer;
  }
}

.App {
  display: flex;
}

html,
body,
#root,
.App {
  font-family: $font-1;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

@media (max-width: 1130px) {
  .App {
    flex-direction: column;
    align-items: center;
  }
}
